<div
  class="h-full w-full flex justify-center items-center bg-gray-dark font-sans text-14"
>
  <div
    class="max-h-iPhone max-w-iPhone w-full h-full bg-gradient-tr-blue-green px-32 py-64 text-white flex flex-col justify-between"
  >
    <div>
      <h1 class="font-display text-52">Pharmacy Check</h1>

      <input
        class="text-gray-dark placeholder-gray p-10 bg-white rounded-4 outline-none w-full mt-112 focus:shadow-focus transition-shadow duration-200"
        placeholder="Email"
      />
      <input
        class="text-gray-dark placeholder-gray p-10 bg-white rounded-4 outline-none w-full mt-32 focus:shadow-focus transition-shadow duration-200"
        placeholder="Password"
        type="password"
      />
      <a href="#" class="float-right mt-10 font-bold">Forgot Password?</a>
    </div>

    <div>
      <button class="uppercase w-full p-10 bg-gray-dark rounded-4 mt-auto">
        Login
      </button>
      <button class="uppercase w-full p-10">Register</button>
    </div>
  </div>
</div>
